
/* shared area style here */

*{
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 100px 50px ;
}
section{
    padding: 20px 100px;
}
footer{
    padding: 20px 100px;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}

/* header area style here */
header h3{
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color:  #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}


/* banner style here */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-content h1{
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-content p{
    color: #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.banner img{
    width: 100%;
}


/*main area style here*/



        /* team-member-area here */


.team-work{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50%;
    gap: 20px;
    align-items: center;
}
.team-image img{
    width: 100%;
}
.team-content{
    max-width: 50%;
    margin-left: 30px;
}
.team-content h1{
    color:#131313;
    font-family: Work Sans;
    font: 2.8rem;;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team-content .one{
    color:#727272;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.team-content .two{
    color: #FF900E;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


          /*features area style here*/



.features-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.features-container{
    width: 50%;
}
.features-container > h1{
    color:#131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-left: 5px solid rgb(255, 153, 0);
    margin: 0;
}
.features-container p{
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}
.features-card{
    padding: 10px 30px;
    margin: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-image{
    width: 50%;
    margin-left: 30px;
}
.features-image img{
    width: 560px;
    height: 800px;
}
.features-image .badge{
    padding: 45px 45px;
    border-radius: 8px;
    background: #FF900E;
    width: 250px;
    height: 100px;
    position: relative;
    bottom: 110px;
    right: 70px;
}
.features-image .badge h2{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
    margin: 0;
}
.features-image .badge h5{
    color: #FFF;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin: 0;
}


    /* fact-area style here */


    .fact-area{

    }
.fact-area > h1{
    color:#131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.fact-area > p{
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.fact-card{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
}
.fact-cards{
    width: 241.831px;
    height: 241.831px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding-top: 40px;
}




  /*footer aarea style gere*/


footer h1{
    color: #131313;
    font-family: Work Sans;
    font-size:2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
}
footer p{
    color: #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
footer .sponspors-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  50px 0;
}
.copyright-area{
    border-radius: 8px;
    background: #FFF4E7;
    padding: 10px 5px;
    margin-top: 80px;
}
.copyright-area p{
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





/* responsive design here */


      /*mobile view responsive design here*/

@media screen and (max-width: 576px) {
    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 20px 25px 50px;
    }
    header h3 {
        font-size: 1.8rem;
    }
    nav > ul {
        flex-direction: column;
    }
    .banner-content h1 {
        font-size: 2rem;
    }
    section {
        padding: 20px 11px;
    }
    .team-image {
        grid-template-columns:repeat(2, 1fr);
        max-width: 90%;
        gap: 15px;
    }
    
    .team-content {
        max-width: 100%;
        margin-left: 10px;
    }
    .team-work {
        flex-direction: column;
    }
    .features-container {
        width: 100%;
    }
    .features-area {
        flex-direction: column;
    }
    .features-image img {
        width: 100%;
        height: 500px;
    }
    
    .features-image {
        width: 90%;
        margin-right: 25px;
    }
    .features-image .badge {
        padding: 15px 23px;
        position: static;
        padding-bottom: 30px;
        margin: 0px auto;
    }
    .fact-card {
        display: flex;
        margin-left: 40px;
        flex-direction: column;
    }
    .fact-cards{
        margin-bottom: 25px;
    }
    .fact-area > h1 {
        margin-left: 20px;
    }
    .fact-area > p {
        margin-left: 20px;
    }
    footer {
        padding: 20px 17px;
    }
    footer p {
        font-size: 2rem;
        line-height: 30px;
    }
    footer .sponspors-area {
        flex-direction: column;
    }
    footer .sponspors-area img{
        margin: 20px 0px;
    }
    .copyright-area {
        margin-top: 17px;
    }
}
    
